<div id="particles-js">
  <canvas class="particles-js-canvas-el" id="canvas"></canvas>
  <h2 class="login_title">Launcher</h2>
  <div class="cont">
    <div class="demo">
      <div class="login">
        <div class="login__form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="login__row">
              <%= f.email_field :email, class: 'login__input name', placeholder: 'email' %>
            </div>
            <div class="login__row">
              <%= f.password_field :password, class: 'login__input pass', placeholder: "password" %>
            </div>
            <%= f.submit "ログイン" , class: 'login__submit' %>

            <%= link_to user_facebook_omniauth_authorize_path do %>
              <button class='login__facebook'>Facebookでログイン</button>
            <% end %>
            <p class="login__signup">
              <%= render "users/shared/links" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'particles' %>
<%= javascript_include_tag 'app' %>